.imagen {
	border: 1px solid #ffffff;
	-moz-box-shadow:    0px 0px 10px #888888;
	-webkit-box-shadow: 0px 0px 10px #888888;
	box-shadow:         0px 0px 10px #888888;
}
.textarea {
	background-color: #ffffff;
	width:99%;
	height: 120px;

	font-family: Tahoma;
	font-size: 12px;

	border: 1px solid #a8a8a8;
	
	resize: none;
}
.textarea:hover {
	background-color: #e8e8e8;
	border: 1px solid #000000;
	
	-moz-box-shadow:    0px 0px 2px #c8c8c8;
	-webkit-box-shadow: 0px 0px 2px #c8c8c8;
	box-shadow:         0px 0px 5px #c8c8c8;
}
.textarea:focus {
	background-color: #f8f8f8;
	border: 1px solid #000000;
	
	resize: none;
}
