.nombre_club {
	background-color: #394752;
	width: 200px;
	align: left;
}
.nombre_club:hover {
	background-color: #e8e8e8;
}

.cabecera_titulo {
	font-size: 16px;
	font-family: arial;
	color: #c8c8c8;
}
.cabecera_titulo:hover {
	color: #000000;
}

.td_cabecera_entrar {
	width: 40px;
	align: center;
	background-color: #394752;
}
.td_cabecera_entrar:hover {
	background-color: #e8e8e8;
}

.td_cabecera_entrar1 {
	width: 10px;
	align: center;
	background-color: #394752;
}
.td_cabecera_entrar1:hover {
	background-color: #e8e8e8;
}
.cabecera_entrar {
	font-size: 12px;
	font-family: arial;
	color: #c8c8c8;
}
.cabecera_entrar:hover {
	color: #000000;
}

.input_user {
	align: left;
	height: 25px;
	background-color: #ffffff;
	
	border-style:solid;
	border-width:0px;
	border-color: #ffffff;
	
	margin-left: 1px;
	padding-left: 4px;
}
.input_user:hover {
	background-color: #ffffff;
	border-color: #f8f8f8;
	box-shadow: 0px 0px 2px #394752 inset;
}
.input_user:focus {
	background-color: #ffffff;
	border-color: #ffffff;
	box-shadow: 0px 0px 2px #394752 inset;
}

.input_pswd {
	align: left;
	height: 25px;
	background-color: #ffffff;
	
	border-style:solid;
	border-width:0px;
	border-color: #ffffff;
	
	margin-left: 1px;
	padding-left: 4px;
}
.input_pswd:hover {
	background-color: #ffffff;
	border-color: #f8f8f8;
	box-shadow: 0px 0px 2px #394752 inset;
}
.input_pswd:focus {
	background-color: #ffffff;
	border-color: #ffffff;
	box-shadow: 0px 0px 2px #394752 inset;
}