.tabla_foto {
	
}
.tabla_foto:hover {
	-moz-box-shadow:    0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow:         0px 0px 10px #888;
}
.titulo_pagina {
	font-family:Arial;
	font-size:26px; 
	font-style:normal; 
	color:#94752;
}