html	{ 
	background-color:#f8f8f8; 
}
#content	{
	height:           200px; 
	width:            400px; 
	text-align:       left; 
	border:           1px ridge #c8c8c8; 
	background-color: white;
	padding:          10px;
}
#filaca {
	height:     25px;
	margin-top: 5px;
}
#filaca_help {
	height:  20px;
	display: none;
}
#fila_titulo {
	vertical-align: top;
	font-family:    Tahoma;
	font-size:      30px;
	color:          #a8a8a8;
	height:         50px;
	text-align:     center;
}
#fila_input {
	vertical-align:   middle;
	font-family:      Tahoma;
	font-size:        14px;
	color:            #000000;
	width:            40%;
	background-color: #ffffff;
	font-weight:      normal;
	text-align:       justify;
}
#fila_input2 {
	vertical-align: top;
	text-align:     left;
}
#fila_input_help {
	vertical-align:   middle;
	font-family:      Arial;
	font-size:        12px;
	color:            #000000;
	width:            40%;
	background-color: #ffffff;
	font-style:       italic;
}
#input {
	width:            100%;
	background-color: #ffffff;
	border:           1px solid #c8c8c8;
	font-family:      Tahoma;
	font-size:        14px;
	color:            #000000;
	padding:          5px;
}
#input:hover {
	background-color: #ffffff;
	border:           1px solid #a8a8a8;

	-moz-box-shadow:    0px 0px 2px #c8c8c8;
	-webkit-box-shadow: 0px 0px 2px #c8c8c8;
	box-shadow:         0px 0px 5px #c8c8c8;
}
#input:focus {
	background-color: #ffffff;
	border:           1px solid #000000;

	-moz-box-shadow:    0px 0px 2px #c8c8c8;
	-webkit-box-shadow: 0px 0px 2px #c8c8c8;
	box-shadow:         0px 0px 5px #c8c8c8;
}
#fila_submit {
	vertical-align: top;
	text-align:     center;
	padding-top:    30px;
}
#submit {
	height:      40px;
	width:       120px;
	font-family: Tahoma;
	font-size:   14px;
	color:        #000000;
}