.td_titulo {
	height: 20px;
	width: 150px;
}
.td_info {
	height: 20px;
	width: 500px;
}
.td_imagen {
	width: 500px;
	align: left;
}

.titulo_pagina {
	font-family:Arial;
	font-size:26px; 
	font-style:normal; 
	color:#94752;
}
.titulo {
	font-family: Arial;
	font-size: 14px;
	color:#394752;
	text-align: justify;
}
.informacion {
	font-family: Tahoma;
	margin-left: 4px;
	font-size: 18px;
	color:#394752;
}
