.td_titulo {
	height: 20px;
	width: 150px;
}
.td_info {
	height: 20px;
	width: 500px;
}
.td_imagen {
	width: 500px;
	align: left;
}

.titulo_pagina {
	font-family:Arial;
	font-size:26px; 
	font-style:normal; 
	color:#94752;
}
.titulo {
	font-family: Arial;
	font-size: 14px;
	color:#394752;
	text-align: left;
}
.informacion {
	font-family: Tahoma;
	margin-left: 4px;
	font-size: 18px;
	color:#394752;
}

.input {
	align: left;
	width: 550px;
}

.input_register {
	align: left;
	height: 25px;
	width: 300px;
	border-style:solid;
	border-width:1px;
	border-color: #666666;
	
	padding-left: 4px;
}
.input_register:hover {
	background-color: #ffffff;
	border-color: #394752;
	box-shadow: 0px 0px 2px #394752 inset;
}
.input_register:focus {
	background-color: #ffffff;
	border-color: #394752;
	box-shadow: 0px 0px 2px #394752 inset;
}
