.fila {
	background-color: #ffffff;
}
.fila:hover {
	background-color: #394752;
}

.titulo_enlace {
	font-size:14px;
	color: #333333;
	font-family: arial;
	
	margin-left: 10px;
}

.enlace {
	font-size:14px;
	color: #888888;
	font-family: verdana;
	
	margin-left: 10px;
}
.enlace:hover {
	color: #f8f8f8;
}

.enlace_desplegable {
	font-size:16px;
	color: #888888;
	font-family: verdana;
	
	margin-left: 0px;
}
.enlace_desplegable:hover {
	color: #f8f8f8;
}

.enlace_torneo {
	font-size:12px;
	color: #888888;
	font-family: verdana;
	
	margin-left: 15px;
}
.enlace_torneo:hover {
	color: #f8f8f8;
}

.enlace_equipo {
	font-size:12px;
	color: #888888;
	font-family: verdana;
	
	margin-left: 15px;
}
.enlace_equipo:hover {
	color: #f8f8f8;
}

table tr td a font {
	display:block;
	height:100%;
	width:100%;
}
