.fontmenutitulo {
	font-family: "Arial";
	margin-left: 4px;
	color: black;
	margin-left: 4px;
	font-weight: bold;
	font-size: 16px;
}
.fontmenu {
	font-family: "Arial";
	color: black;
	margin-left: 4px;
	font-size: 15px;
}
.amenu {
	text-decoration:none;
	background-color: #ffffff;
}
.amenu:hover {
	text-decoration:underline;
	/*font-weight: bolder;*/
	/*background-color: #e8e8e8;*/
}

.admin_input {
	text-align: left;
	padding: 4px;
	margin: 0px;
	border: 1px solid #c8c8c8;
	outline: none;
	font-family: arial;
	font-size: 13px;
}

.admin_textarea{
	width:840px;
	height:150px;
	font-family:Arial;
	font-size:12px;
	border:1px solid #c8c8c8;
	outline:none;
	padding: 4px;
	font-family: arial;
	size: 13px;
}

.admin_font{
	font-family: verdana;
	color:       black;
	padding:     4px;
	font-size:   11px;
}

.admin_font {
	font-family: verdana;
	color:       black;
	padding:     4px;
	font-size:   11px;
}