.fontmenutitulo {
	font-family: "Arial";
	margin-left: 4px;
	color: black;
	margin-left: 4px;
	font-weight: bold;
	font-size: 16px;
}
.fontmenu {
	font-family: "Arial";
	color: black;
	margin-left: 4px;
	font-size: 15px;
}
.amenu {
	text-decoration:none;
	background-color: #ffffff;
}
.amenu:hover {
	text-decoration:underline;
	background-color: #e8e8e8;
}
